// Make a big page of text (like an About page) look good
@mixin text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;

  h1.title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    margin-bottom: 32px;
    text-align: center;
  }

  h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    margin: 1.0em 0;
  }

  h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
  }

  ul {
    @extend %default-ul;
  }

  ol {
    @extend %default-ol;
  }

  pre, code {
    background-color: $code-background;
    border-radius: 3px;
    font-family: monospace;
  }

  :not(pre) > code {
    white-space: nowrap;
  }

  pre {
    padding: 0.4rem;
    white-space: pre;
  }

  pre code {
    padding: 0;
  }

  code {
    padding: 3px 5px;
  }

  blockquote {
    border-left: 2px solid $base-border-color;
    color: lighten($base-font-color, 15);
    font-style: italic;
    margin: $base-spacing 0;
    padding-left: $base-spacing / 2;
  }
}
